@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #000000;
  color: #F6F6F6;
  box-sizing: border-box;
  height: 100vh;
}

.header {
  padding: 2% 0% 0% 15%;
}

.header__menu{
  display: flex;
  gap: 80px;
}

.header__menu__link {
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 600;
  color: #22D4FD;
  text-decoration: none;
}

strong {
  color: #22D4FD;
}

.presentacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 
}

.presentacion__contenido {
  width: 615px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.presentacion__contenido h1 {
  font-size: 36px;
  font-family: "Krona One", serif;
  font-weight: 400;
}

.presentacion__contenido p {
  font-size: 24px;
  font-family:  "Montserrat", serif;
}

.presentacion__enlaces {
  display: flex;
  justify-content: space-between;
}

.presentacion__enlaces__link {
  width: 280px;
  background-color: #22D4FD;
  text-align: center;
  padding: 21.5px 0;
  border-radius: 15px;
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration-line: none;
  color: #F6F6F6
}

.presentacion__enlaces__link:hover{
  background-color: #272727;
}

.footer {
  color:#000000;
  background-color: #22D4FD;
  padding: 24px;
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 400;
}